hellocountry/src/main/mule/hellocountry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5167141c-cb6f-4568-a8a5-ab96e161df82" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellocountryFlow" doc:id="a25fc943-6d5e-45e3-b43e-a0a820c95364" >
		<http:listener doc:name="Listener" doc:id="bac1480f-0162-4935-80ef-337a6c3fc3ec" config-ref="HTTP_Listener_config" path="/hello1"/>
		<set-payload value='" This is hello country flow"' doc:name="Set Payload" doc:id="54190bd8-d708-4330-a101-1fa0e652def3" />
		<ee:transform doc:name="Transform Message" doc:id="373fee14-ba4f-44b8-9410-ef7dfbc97504" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "message" : "hello",
	"data" : "country" 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="33cb6f7f-1f8e-4958-9286-e56f3a06a654" message="#[payload]"/>
	</flow>
</mule>
