src/main/mule/errorhandling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f23d2c04-a847-4914-b0e5-2fde89f0c156" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloWorld" doc:id="cf07428e-ec1c-44d3-87b9-03ab8851927a" >
		<http:listener doc:name="Listener" doc:id="9920533c-d6b3-4097-ab44-e424cd237e50" config-ref="HTTP_Listener_config" path="/error"/>
		<set-variable value='" world "' doc:name="Set Variable" doc:id="409c2b4d-a93d-41be-8982-ac3dba372923" variableName="hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="27bb2abf-e0c5-4773-9181-4d1410f67002" message="#[vars.hello]"/>
	</flow>
</mule>
